
<!doctype html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" >
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>


<style>
h3.mid
{
	text-align: center;
}
p.mid1
{
	text-align: center;
}
</style>
</head>
<body>
<h1 style="color:#737373;">Welcome to....</h1>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li style="font-size:25px"><a href="#">SAG Portal</a></li> 
          <li class="active"><a href="index.php">Home</a></li>
          <!--<li><a href="#">Contact us</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="user_controller/login"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          <!-- <li><a href="login.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
 <div class="row">
 </br>
</br>
 <div class="col-md-4">
 <div class="card card-inverse card-primary text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h2>Electric problems</h2>
      <h4>Problems pending:5</h4>
      
    </blockquote>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card card-inverse card-success text-xs-center">
  
  <div class="card-block">
    <blockquote class="card-blockquote">
     <h2>Carpentry Problems</h2>
     <h4>Problems pending:5</h4>
    </blockquote>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card card-inverse card-info text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h2>Plumber problems</h2>
      <h4>Problems pending:5</h4>

    </blockquote>
  </div>
</div>
</div>
</div>
</br>
</br>
<div class="row">
  <div class="col-md-4">
    <a href="">
<div class="card card-inverse card-warning text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h2>Lan problems</h2>
      <h4>Problems pending:5</h4>
    </blockquote>
  </div>
</div>
</div>
</a>
 <div class="col-md-4">
<div class="card card-inverse text-xs-center" style="background-color: #333;">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h2>Hostel Grievances</h2>
      <h4>Problems pending:5</h4>
    </blockquote>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card card-inverse card-danger text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h2>Mess Grievances</h2>
      <h4>Problems pending:5</h4>
    </blockquote>
  </div>
</div>
</div>
<div class="row">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr>
    
      <div class="col-md-4">
      <h3 class="mid">Help</h3>
      <p class="mid1"><a href="">Forget password</a></p>
      <p class="mid1"><a href="">Unable to report</a></p>
      <p class="mid1"><a href="">search</a></p>
      </div>
  <div class="col-md-4">
  <h3 class="mid">About us</h3>
  
  </div>
  <div class="col-md-4">
  <h3 class="mid">Contact us</h3>
  <p class="mid1">Email: rahul@gmail.com</p>
  <p class="mid1">Contact: 91-9177330341</p>
  <p class="mid1">Address: #H.No.39/17,HUDA<br>Haryana</p>
  </div>
</body>
</html>