<!DOCTYPE html>
<html lang="en">
<head>
  <title>SAG Portal</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->

  <!-- <link rel="stylesheet" type="text/css" href="custom.css">   CodeIgniter-3.0.4/application/views/pages/bootstrap-3.3.6-dist\css-->
</head>
<body>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li style="font-size:25px"><a href="#">SAG Portal</a></li> 
          <li class="active"><a href="index.php">Home</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="user_controller/login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <!-- <li><a href="login.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <br/>
   <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="jumbotron">
            <h2>Welcome All!</h2>
            <p>Welcome to the SAG Portal where you submit your problem and get relieved. We will Take care of rest of the stuff for you</p>
            <button class="btn btn-lg btn-primary">Learn More</button>
          </div>
        </div>
          <div class="col-md-4">
            <br/>
            <br/>
            <h3 style= "color:red"> Login Here <h3>
            <form method="POST" action="loginauth.php">
              <div class="form-group" >
                <input type="text" name='userid' placeholder="User Id" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" name='password' placeholder="Password" class="form-control">
              </div>
              <div class="col-md-5"></div>
              <input type="hidden" name="action" value="login">
              <input class="btn btn-md btn-success" type="submit" value="Login">
              <!-- <button class="btn btn-md btn-success">Login</button> -->
              <!-- <button class="btn btn-md btn-danger">Register</button> -->

            </form>
        </div>
 
      </div>
    </div>
</body>
</html>