<html>
<head>
  <title>Table</title>
  <!-- <link rel="stylesheet" type="text/css" href="../../views/timeline/timeline.css"> -->
  <link rel="stylesheet" href="<?php echo base_url('assets/bootstrap.css')?>"/>
  <link rel="stylesheet" href="<?php echo base_url('assets/bootstrap2.css')?>"/>
  <script type="text/javascript" src="<?php echo base_url('assets/js1.js')?>"></script>
  <script type="text/javascript" src="<?php echo base_url('assets/js2.js')?>"></script>
  <script type="text/javascript" src="<?php echo base_url('assets/js3.js')?>"></script>

  
</head>


<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>


<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Sno.</th>
            <th>Complaint Id</th>
            <th>User Id</th>
            <!-- <th>Name</th> -->
            <th>Contact No.</th>
            <th>Status</th>
        </tr>
    </thead>
    <!-- <tfoot>
        <tr>
            <th>Sno.</th>
            <th>Complaint Id</th>
            <th>User Id</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Status</th>
        </tr>
    </tfoot> -->
    <tbody>
       
          <?php $x=1;?>
           <?php foreach($det as $pro) :?>
          
           
            <tr>
              
             <td ><?php echo $x++;?></td>

            <td><a href="show_ad_c_details?cid=<?php echo $pro['cid'];?>"><?php echo $pro['cid'];?></a></td>
            <td><?php echo $pro['user_id']; ?></td>
            <!-- <td><?php //echo $pro['name']; ?></td> -->
            <td><?php echo $pro['mobile']; ?></td>
            <?php 
                $st = $pro['status'];
                if($st==0) $stat = 'Unresolved';
                else if($st==1) $stat = 'Resolved';
                else if($st==-1) $stat = 'Flase/Deleted';
                else if($st==2) $stat = 'Postponed';
            ?>
            <td><?php echo $stat; ?></td>
             <!-- <td><?php //echo $pro['status'];?></td> -->

             </tr>
 
    <?php endforeach; ?>
  


    </tbody>
</table>