<html>
<head>
<title>Electric portal</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" >
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
	<body>
		<div class="container-fluid">
		<nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li style="font-size:25px"><a href="#">SAG Portal</a></li> 
          <li class="active"><a href="index.php">Home</a></li>
          <!--<li><a href="#">Contact us</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="user_controller/login"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          <!-- <li><a href="login.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        </ul>
    </div>
  </nav>
  <table id="customers">
  <tr>
    <th>S.No</th>
    <th>User name</th>
    <th>Complaint id</th>
    <th>Status</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>aaa</td>
    <td>bbb</td>
    <td>ccc</td>
    <td>ddd
    </td>
  </tr>
  
</table>
  <div class="row">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr>
    
      <div class="col-md-4">
      <h3 class="mid">Help</h3>
      <p class="mid1"><a href="">Forget password</a></p>
      <p class="mid1"><a href="">Unable to report</a></p>
      <p class="mid1"><a href="">search</a></p>
      </div>
  <div class="col-md-4">
  <h3 class="mid">About us</h3>
  
  </div>
  <div class="col-md-4">
  <h3 class="mid">Contact us</h3>
  <p class="mid1">Email: rahul@gmail.com</p>
  <p class="mid1">Contact: 91-9177330341</p>
  <p class="mid1">Address: #H.No.39/17,HUDA<br>Haryana</p>
  </div>
  </div>
	</body>
</html>