<html>
<head>
	 <link rel="stylesheet" type="text/css"  href="<?php echo base_url('assets/bootstrap.css')?>" />
  <link rel="stylesheet" type="text/css"  href="<?php echo base_url('assets/bootstrap2.css')?>" />
	<title></title>
	<style>
	.image { 
   position: relative; 
   -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
 
}
	h1 { 
   position: absolute;
   top:260px;
    left:450px;
    width:400px;
    color:#4d4d4d;
    font-style: italic;
}
    
	</style>


	<?php header( "refresh:2;url=http://localhost/SAG-portal-nitw/index.php/user_controller" );?>
</head>
<body>
	<div class="contqainer">
	<center>
		<div class="image">
			<img src="<?php echo base_url('assets/img/correct.jpg');?>" alt="HTML5 Icon" width="530px" height="610px">
		</div>
		<h1>Your complaint has been successfully Registered</h1>

</center>
</div>
</body>
</html>