<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title></title>
	<style>
	.image { 
   position: relative; 
   -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
 
}
	h1 { 
   position: absolute;
   top:260px;
    left:450px;
    width:400px;
    color:#4d4d4d;
    font-style: italic;
}
    
	</style>
</head>
<body>
	<div class="contqainer">
	<center>
		<div class="image">
			<img src="file:///opt/lampp/htdocs/SAG-portal-nitw/correct.jpg" alt="HTML5 Icon" width="530px" height="610px">
		</div>
		<h1>Your complaint has been successfully Registered</h1>

</center>
</div>
</body>
</html>