<html>
<head>
	<title>SAG Portal</title>
	<style>
	.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
	}
	 </style>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-8">			
			<h3 style = "text-color:black"> Detailed Complaint :</h3>
		    <br>
		    <p>
		    	<h5><bold>Complaint ID</bold> &#160 : &#160 <?php echo $inf[0]['cid']; ?></h5>
		    </p>
		    <p>
		    	<h5>Username &#160 : &#160 <?php echo $inf[0]['cid']; ?></h5>
			</p>
			<p>
		    	<h5>Complaint Tag &#160 : &#160 <?php echo $inf[0]['cid']; ?></h5>
			</p>
			<p>
		    	<h5>Complaint Descripton &#160 : &#160 <?php echo $inf[0]['details'] ?></h5>
		    </p>
		    <p>
		    	<h5>Date of Complaint &#160 : &#160 <?php echo $inf[0]['date']; ?></h5>
			</p>
			<p>
		    	<h5>Hostel Name  &#160 : &#160  <?php echo $inf[0]['hostel']; ?></h5>
			</p>
			<p>
		    	<h5>Room Number &#160 : &#160 <?php echo $inf[0]['room']; ?></h5>
			</p>
			<p>
		    	<h5>Preferred Time  &#160 :  &#160 <?php echo $inf[0]['preftime']; ?></h5>
			</p>
		    <!-- <hr> -->
		    	<h2>Report:</h2>
		    <h5></h5>
		</div>
		
		<div class="col-md-4">
		<br>
	    <br>
		<br>
        <?php if($inf[0]['status']!=1 AND $user_grp[0]['user_group_id']!=0  ): ?>

            <input class ='button' type="submit" id="status-resolved" value="Resolved" >
            <br>
            <div id='msg1' style='color:blue'> </div>

           <script id="resolved" cid = <?php echo $inf[0]['cid'];?> src="<?php echo base_url('assets/complaint_disc.js')?>"></script>
	   

			<br>


            <input class ='button' type="submit" id="status-postponed" value="Postponed" >
            <br>
            <div id='msg2' style='color:blue'> </div>

           <script id="postponed" cid = <?php echo $inf[0]['cid'];?> src="<?php echo base_url('assets/complaint_disc.js')?>"></script>

			<br>

	
            <input class ='button' type="submit" id="status-deleted" value="Delete/Flase" >
            <br>
            <div id='msg3' style='color:blue'> </div>

           <script id="deleted" cid = <?php echo $inf[0]['cid'];?> src="<?php echo base_url('assets/complaint_disc.js')?>"></script>
	 
	<?php endif; ?>
	
	</div>

           


</div>

</div>


</body>
</html>