
<html>
<head>
  <title>SAG Portal</title>
  <link rel="stylesheet" type="text/css"  href="<?php echo base_url('assets/bootstrap.css')?>" />
  <link rel="stylesheet" type="text/css"  href="<?php echo base_url('assets/bootstrap2.css')?>" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
 <script type="text/javascript" src="<?php echo base_url('assets/js1.js')?>"></script>
  <script type="text/javascript" src="<?php echo base_url('assets/js2.js')?>"></script>
  <script type="text/javascript" src="<?php echo base_url('assets/js3.js')?>"></script>
  <script type="text/javascript" src="<?php echo base_url('assets/js4.js')?>"></script>
  
  </head>
  <body bgcolor=black>
    <h1>
    <img id="image" src="<?php echo base_url('assets/img/download.jpg')?>" style="float:left;width:50px;height:50px;">
    National Institute Of Technology, Warangal
</h1>
  <div class="container-fluid">

<nav class="navbar navbar-inverse" style="width:100%">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li style="font-size:25px"><a href="#">SAG Portal</a></li> 
          <li class="active"><a href="<?php echo base_url('/index.php/user_controller'); ?>">Home</a></li>
          <!--<li><a href="#">Contact us</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<?php echo base_url('/index.php/auth/logout'); ?>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          <!-- <li><a href="login.php"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  </br>
  </div>
  

